.visible {
    animation-name: show;
    animation-duration: 1.5s;
}

@keyframes show {
    from { opacity: 0;}
    to {opacity: 1;}
}

.game-description {
    text-align: center;
    margin-top: 30;
    font-size: 20px;
}

.points {
    text-align: center;
    margin-top: 30;
    font-size: 25px;
}

.message {
    margin-top: 10;
    font-size: 50px;
    opacity: 0;
    color: tomato
}

.counter {
    margin-top: 10;
    text-align: center;
    font-size: 60px;
    color: tomato
}

.dropdown-levels {
    padding: 10;
    font-size: 25;
    color: green;
    text-align: center;
}

