<ActionBar title="Ordering Numbers" icon="" class="action-bar">
    <DropDown #dd
        class="dropdown-levels"
        (selectedIndexChanged)="onchange($event)"
    ></DropDown>
</ActionBar>

<Page #page>
    <StackLayout orientation="vertical" class="number-options-container">
        <GridLayout rows="auto, *" height="400">
            <Label text="Pick the numbers in ascending order" textWrap="true" row="0" class="game-description"></Label>
            <Label text="Points   {{points}}" textWrap="true" class="points" row="1"></Label>
            <StackLayout orientation="horizontal" horizontalAlignment="center" row="2" class="center">
                    <ns-number *ngFor="let number of numbers"
                    [number]="number.number"
                    [isCorrect]="number.isCorrect"
                    (selectNumber)="selectNumber($event)"></ns-number>
            </StackLayout>
            
        </GridLayout>
        <Label [text]="counterTime" class="counter"></Label>
        <Label #messageLabel text="Wrong" class="message"></Label>
    </StackLayout>
</Page>


