Page {
    opacity: 0;
}

Label {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60;
    font-size: 50px;
}

.content {
    margin-top: 20%;
}

Image {
    width: 250;
    height: 250;
}


