<Page #homePage>
    <ActionBar class="action-bar">
        <Label class="action-bar-title" text="Home"></Label>
    </ActionBar> 
    <StackLayout class="page">
        <Image #logoImage src="~/images/app_icon.png" class="logo-image" data-ng-init="init()"></Image>
        <Button text="Ordering Numbers Game" (tap)="goToOrderingNumbersPage()" class=""></Button>
    </StackLayout>
</Page>
