.page {
    margin-top: 20%;
    margin-left: 20;
    margin-right: 20;
    background-color: white;
}

Button {
    background-color: tomato;
    color: white;
}

.logo-image {
    width: 150;
    height: 150;
    opacity: 1;
}